%buttons {
    color: white;
    font-weight: 600;
    letter-spacing: 0.3em;
    background: $btn-color;
    border: 2px solid #ff4c00;
    padding: 1em 2em;
    margin: 1em;
    border-radius: 20%;
    cursor: pointer;
    &:hover {
        color: $background;
    }
}

.mainBtns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em 0em;
    div {
        margin: 1px;
    }
}

button {
    @extend %buttons;
}
.addBtn, .deleteBtn, .editBtn{
    @extend %buttons;
    padding: 0.3em 1em;
   
}